body {
    font-family: Arial, sans-serif;
    background: #444;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .chat-container {
    width: 80%;
    max-width: 700px;
    background: #252525;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .chat-box {
    padding: 20px;
    overflow-y: auto;
    max-height: 700px;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
  }
  
  .chat-box::-webkit-scrollbar {
    display: none; 
  }
  
  .chat-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%; 
  }
  
  .from-user {
    background: #00b0ff;
    color: #ffffff;
    align-self: flex-end;
    text-align: right;
  }

  .from-assistant {
    background: #444;
    color: #ffffff;
  }
  
  .user-input {
    padding: 20px;
    border-top: 1px solid #999; 
    display: flex;
    background-color: #181818;
    align-items: center;
  }
  
  .user-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    background: #252525;
    color: #fff;
  }
  
  .user-input button {
    padding: 10px 20px;
    background: #444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-input button:hover {
    background: #222;
  }
  .code-box {
    background-color: #2b2b2b;
    color: #ffffff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    overflow-x: auto;
  }
  
  .code-box pre {
    margin: 0;
  }
  
  .code-box code {
    display: block;
    white-space: pre-wrap;
  }

.test-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5px;
  cursor: pointer;
}

.test-button:hover {
  background-color: #444;
}

.clear-button {
  background: #444;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
}

.clear-button:hover {
  background: #444;
}
/* Стили для бокового меню */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background: #252525;
  color: #a3a3a3;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 20px ;
  border-bottom-right-radius: 20px ;
}

.sidebar h1 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li a {
  display: block;
  color: #a3a3a3;
  text-decoration: none;
  padding: 10px 0;
}

.sidebar ul li a:hover {
  background-color: #444;
}
/* Стили для черного кружка */
.pulse-icon {
  position: absolute; /* Абсолютное позиционирование */
  top: 10px; /* Помещаем иконку выше контейнера с чатом */
  left: 50%; /* Размещаем иконку по центру по горизонтали */
  transform: translateX(-50%); /* Центрируем иконку по горизонтали */
  width: 50px;
  height: 50px;
  background-color: #181818;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стили для иконки пульса */
.pulse-icon i {
  color:#444;
  font-size: 30px; /* Размер иконки */
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  position: absolute;
  top: 64px;
  left: 43%;
  font-size: 18px;
  color: #d1d1d1;
}
.theme-toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background: #181818;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.theme-toggle-button:hover {
  background: #252525;
}

.theme-toggle-button.light-theme {
  background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
}
.theme-toggle-button.light-theme {
  color: black;
}
body.light-theme {
  background: #e0e0e0; /* Задаем светлый фон */
}

.light-theme .chat-container {
  background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
}

.light-theme .chat-message.from-user {
  background-image: linear-gradient(to bottom right, #9e9e9e, #9e9e9e);
  color: #000;
}
.light-theme .chat-message.from-assistant {
  background-image: linear-gradient(to bottom right, #e0e0e0, #e0e0e0);
  color: #000;
}

.light-theme .user-input {
  background-color: #e0e0e0;
}

.light-theme .user-input input[type="text"] {
  background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
  color: #000;
}

.light-theme .user-input button {
  background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
  color: #000;
}

.light-theme .code-box {
  background-color: #a0a0a0;
  color: #000;
}
.light-theme .sidebar {
  background-image: linear-gradient(to bottom right, #ffffff, #ffffff);
  color: #000;
  border: 1px solid #999;
}
.light-theme .sidebar ul li a:hover {
  background-color: #d1d1d1;
}
.light-theme .sidebar ul li a {
  color: #000;
}
.light-theme .logo-text {
  color: #000;
}
.light-theme .pulse-icon i {
  color: #d6d6d6;
}
.light-theme .pulse-icon {
  background-color: #9b9b9b;
}
.light-theme .theme-toggle-button:hover {
  background: #c2c2c2;
}
